<a href="https://colab.research.google.com/github/Megreid23/final_project/blob/rachel_dev/producers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# import clean producers csv
url = 'https://raw.githubusercontent.com/Megreid23/final_project/main/csv%20files/producers.csv'
producers = pd.read_csv(url)
producers.head()

   Unnamed: 0  anime_id                                          producers
0           0      5114  ['Aniplex', 'Square Enix', 'Mainichi Broadcast...
1           1     11061   ['VAP', 'Nippon Television Network', 'Shueisha']
2           2     38524  ['Production I.G', 'Dentsu', 'Mainichi Broadca...
3           3      9253  ['Frontier Works', 'Media Factory', 'Movic', '...
4           4     28851  ['Shochiku', 'Pony Canyon', 'Kodansha', 'ABC A...

In [ ]:
producers.drop(columns = ['Unnamed: 0'], inplace=True)
producers.head()

   anime_id                                          producers
0      5114  ['Aniplex', 'Square Enix', 'Mainichi Broadcast...
1     11061   ['VAP', 'Nippon Television Network', 'Shueisha']
2     38524  ['Production I.G', 'Dentsu', 'Mainichi Broadca...
3      9253  ['Frontier Works', 'Media Factory', 'Movic', '...
4     28851  ['Shochiku', 'Pony Canyon', 'Kodansha', 'ABC A...

In [ ]:
producers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10606 entries, 0 to 10605
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   anime_id   10606 non-null  int64
 1   producers  10606 non-null  object
dtypes: int64(1), object(1)
memory usage: 165.8+ KB

In [ ]:
# convert list-like object columns into lists
# https://towardsdatascience.com/dealing-with-list-values-in-pandas-dataframes-a177e534f173
producers['producers'] = producers['producers'].apply(eval)
producers.head()

   anime_id                                          producers
0      5114  [Aniplex, Square Enix, Mainichi Broadcasting S...
1     11061         [VAP, Nippon Television Network, Shueisha]
2     38524  [Production I.G, Dentsu, Mainichi Broadcasting...
3      9253  [Frontier Works, Media Factory, Movic, AT-X, K...
4     28851  [Shochiku, Pony Canyon, Kodansha, ABC Animatio...

In [ ]:
# separate list-like column into separate columns
# https://stackoverflow.com/questions/50264678/explode-column-of-lists-into-multiple-columns
series = producers['producers'].apply(pd.Series)
series.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Aniplex,Square Enix,Mainichi Broadcasting System,Studio Moriken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VAP,Nippon Television Network,Shueisha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Production I.G,Dentsu,Mainichi Broadcasting System,Pony Canyon,Kodansha,Techno Sound,Pony Canyon Enterprise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Frontier Works,Media Factory,Movic,AT-X,Kadokawa Pictures Japan,Nitroplus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shochiku,Pony Canyon,Kodansha,ABC Animation,Quaras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# merge producers table and series
# https://stackoverflow.com/questions/26265819/how-to-merge-a-series-and-dataframe/40762674#40762674
producers_merged = producers.merge(series, left_index=True, right_index=True)
producers_merged

,anime_id,producers,0,1,2,3,4,5,6,7,...,9,10,11,12,13,14,15,16,17,18
0,5114,"[Aniplex, Square Enix, Mainichi Broadcasting S...",Aniplex,Square Enix,Mainichi Broadcasting System,Studio Moriken,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11061,"[VAP, Nippon Television Network, Shueisha]",VAP,Nippon Television Network,Shueisha,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,38524,"[Production I.G, Dentsu, Mainichi Broadcasting...",Production I.G,Dentsu,Mainichi Broadcasting System,Pony Canyon,Kodansha,Techno Sound,Pony Canyon Enterprise,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9253,"[Frontier Works, Media Factory, Movic, AT-X, K...",Frontier Works,Media Factory,Movic,AT-X,Kadokawa Pictures Japan,Nitroplus,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28851,"[Shochiku, Pony Canyon, Kodansha, ABC Animatio...",Shochiku,Pony Canyon,Kodansha,ABC Animation,Quaras,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10601,42234,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10602,38771,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10603,38066,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10604,37336,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10605,40361,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
producers_merged.head()

,anime_id,producers,0,1,2,3,4,5,6,7,...,9,10,11,12,13,14,15,16,17,18
0,5114,"[Aniplex, Square Enix, Mainichi Broadcasting S...",Aniplex,Square Enix,Mainichi Broadcasting System,Studio Moriken,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11061,"[VAP, Nippon Television Network, Shueisha]",VAP,Nippon Television Network,Shueisha,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,38524,"[Production I.G, Dentsu, Mainichi Broadcasting...",Production I.G,Dentsu,Mainichi Broadcasting System,Pony Canyon,Kodansha,Techno Sound,Pony Canyon Enterprise,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9253,"[Frontier Works, Media Factory, Movic, AT-X, K...",Frontier Works,Media Factory,Movic,AT-X,Kadokawa Pictures Japan,Nitroplus,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28851,"[Shochiku, Pony Canyon, Kodansha, ABC Animatio...",Shochiku,Pony Canyon,Kodansha,ABC Animation,Quaras,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# drop original list column
producers_merged.drop(columns = ['producers'], inplace=True)
producers_merged.head()

,anime_id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,5114,Aniplex,Square Enix,Mainichi Broadcasting System,Studio Moriken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11061,VAP,Nippon Television Network,Shueisha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,38524,Production I.G,Dentsu,Mainichi Broadcasting System,Pony Canyon,Kodansha,Techno Sound,Pony Canyon Enterprise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9253,Frontier Works,Media Factory,Movic,AT-X,Kadokawa Pictures Japan,Nitroplus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28851,Shochiku,Pony Canyon,Kodansha,ABC Animation,Quaras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
producers_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10606 entries, 0 to 10605
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  10606 non-null  int64
 1   0         7048 non-null   object
 2   1         3826 non-null   object
 3   2         2260 non-null   object
 4   3         1570 non-null   object
 5   4         1114 non-null   object
 6   5         757 non-null    object
 7   6         467 non-null    object
 8   7         284 non-null    object
 9   8         183 non-null    object
 10  9         91 non-null     object
 11  10        53 non-null     object
 12  11        28 non-null     object
 13  12        15 non-null     object
 14  13        7 non-null      object
 15  14        5 non-null      object
 16  15        3 non-null      object
 17  16        3 non-null      object
 18  17        2 non-null      object
 19  18        2 non-null      object
dtypes: int64(1), object(19)
memory usage: 1.6+ MB

In [ ]:
# RTR notes:
# obviously we want to bin some of these; anything under 1000?